@font-face { font-family: 'Proxima Nova'; src: url("../fonts/ProximaNovaRegular.eot"); /* IE9 Compat Modes */ src: url("../fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNovaRegular.svg#2c1459d58560f08b4b0586fbe80aa4cd") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 400; }

@font-face { font-family: 'Proxima Nova'; src: url("../fonts/ProximaNova-Semibold.eot"); /* IE9 Compat Modes */ src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 600; }

@font-face { font-family: 'Proxima Nova'; src: url("../fonts/ProximaNovaBold.eot"); /* IE9 Compat Modes */ src: url("../fonts/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNovaBold.svg#d1e00a8fb1fd9b428ab6b90409479fde") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 700; }

@font-face { font-family: 'Proxima Nova'; src: url("../fonts/ProximaNova-Black.eot"); /* IE9 Compat Modes */ src: url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova-Black.svg#5216c1cacb478b35a513d81c80dc8ad7") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 900; }

@font-face { font-family: 'Proxima Nova'; src: url("../fonts/ProximaNova-Light.eot"); /* IE9 Compat Modes */ src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 300; }

@font-face { font-family: 'Proxima Nova'; src: url("../fonts/ProximaNovaThin.eot"); /* IE9 Compat Modes */ src: url("../fonts/ProximaNovaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaThin.woff") format("woff"), url("../fonts/ProximaNovaThin.ttf") format("truetype"), url("../fonts/ProximaNovaThin.svg#0b7ebb1c86cf54829ef0c13b500be9e7") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 200; }

html { font-size: 16px; position: relative; min-height: 100%; height: auto; }

body { color: #3F4D60; font-family: "Proxima Nova", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif; font-weight: 400; font-size-adjust: none; line-height: normal; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; font-size: 16px; font-size: 1rem; }

a { color: #0DA7FC; text-decoration: none; transition: color 0.3s ease; }

a:hover { color: #3F4D60; text-decoration: none; }

a:focus, input:focus, button:focus { outline: none !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { margin-top: 0; font-weight: normal; font-family: "Proxima Nova", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif; }

h5, .h5 { font-weight: 700; font-size: 16px; font-size: 1rem; line-height: 16px; line-height: 1rem; margin-bottom: 10px; margin-bottom: 0.625rem; margin-bottom: 20px; margin-bottom: 1.25rem; }

h4, .h4 { font-weight: 600; line-height: normal; text-transform: uppercase; letter-spacing: 2.5px; font-size: 14px; font-size: 0.875rem; margin-bottom: 30px; margin-bottom: 1.875rem; }

h3, .h3 { font-weight: 700; font-size: 20px; font-size: 1.25rem; line-height: 24px; line-height: 1.5rem; margin-bottom: 32px; margin-bottom: 2rem; }

h2, .h2 { font-weight: 600; letter-spacing: 4px; text-transform: uppercase; font-size: 26px; font-size: 1.625rem; line-height: 32px; line-height: 2rem; margin-bottom: 34px; margin-bottom: 2.125rem; }

h1, .h1 { font-weight: 600; font-size: 32px; font-size: 2rem; line-height: 40px; line-height: 2.5rem; margin-bottom: 32px; margin-bottom: 2rem; }

b, strong { font-weight: 600; }

p { font-weight: normal; color: #3F4D60; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; margin-bottom: 15px; margin-bottom: 0.9375rem; }

p + h3, p + h4, p + h2 { margin-top: 45px; margin-top: 2.8125rem; }

.annotation { font-size: 14px; font-size: 0.875rem; line-height: 20px; line-height: 1.25rem; }

hr { border-top: 2px solid #EBEDEF; max-width: 770px; max-width: 48.125rem; margin: 45px auto; margin: 2.8125rem auto; }

blockquote { font-weight: normal; line-height: 1.64; color: #3F4D60; font-size: 22px; font-size: 1.375rem; }

cite, figcaption { font-weight: normal; line-height: 1.82; color: rgba(63, 77, 96, 0.6); font-size: 18px; font-size: 1.125rem; }

figcaption { font-size: 16px; font-size: 1rem; }

.smallcaps { text-transform: none; letter-spacing: normal !important; }

.lead { font-weight: normal; line-height: 1.64; color: #3F4D60; font-size: 22px; font-size: 1.375rem; margin-bottom: 30px; margin-bottom: 1.875rem; }

.text p, .text ul, .text ol { font-weight: normal; line-height: 1.67; color: #3F4D60; font-size: 18px; font-size: 1.125rem; margin-bottom: 15px; margin-bottom: 0.9375rem; }

.text p + h3, .text p + h4, .text p + h2, .text ul + h3, .text ul + h4, .text ul + h2, .text ol + h3, .text ol + h4, .text ol + h2 { margin-top: 45px; margin-top: 2.8125rem; }

.text table { width: 100%; }

.text ul { font-weight: normal; color: rgba(63, 77, 96, 0.8); list-style-position: outside; list-style-type: disc; font-size: 18px; font-size: 1.125rem; line-height: 30px; line-height: 1.875rem; padding-left: 25px; padding-left: 1.5625rem; margin-top: 20px; margin-top: 1.25rem; margin-bottom: 20px; margin-bottom: 1.25rem; }

.text ul li { color: #3F4D60; position: relative; margin-bottom: 15px; margin-bottom: 0.9375rem; }

.text ul li:before { color: #3F4D60; content: "\2022"; position: absolute; right: 100%; top: -2px; font-size: 28px; font-size: 1.75rem; margin-right: 11px; margin-right: 0.6875rem; }

.text ul .li { color: rgba(63, 77, 96, 0.8); }

.text ul a:not(.btn) { color: #0DA7FC; }

.text ul + h3, .text ul + h4, .text ul + h2 { margin-top: 45px; margin-top: 2.8125rem; }

.text ol { color: rgba(63, 77, 96, 0.8); padding-left: 24px; padding-left: 1.5rem; }

.text ol li { margin-bottom: 10px; margin-bottom: 0.625rem; }

.text ol + h3, .text ol + h4, .text ol + h2 { margin-top: 45px; margin-top: 2.8125rem; }

@media (max-width: 767px) { html { font-size: 14px; } }

@media (max-width: 543px) { html { font-size: 12px; } }

.text--blue { color: #0DA7FC; }

.text--green { color: #13B72A; }

.text--red { color: #FF3E2E; }

.text--muted { color: #8C94A0; }

.text-muted { color: #B2B8BF; }

.automargin { float: none; margin-right: auto; margin-left: auto; }

.bold { font-weight: 600; }

.semibold { font-weight: 600; }

.t-simulate { display: table; width: 100%; height: 100%; }

.t-row { display: table-row; width: 100%; height: 100%; }

.t-cell { display: table-cell; vertical-align: middle; }

.nopadding { padding: 0; }

.switcher, .checkbox, .radio { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }

.list { list-style: none; padding: 0; margin: 0; }

.relative { position: relative; }

@font-face { font-family: 'icons'; src: url("../fonts/icons/icons.eot?nnd4l1"); src: url("../fonts/icons/icons.eot?nnd4l1#iefix") format("embedded-opentype"), url("../fonts/icons/icons.ttf?nnd4l1") format("truetype"), url("../fonts/icons/icons.woff?nnd4l1") format("woff"), url("../fonts/icons/icons.svg?nnd4l1#icons") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon--"], [class*=" icon--"] { font-family: 'icons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: normal; display: inline-block; vertical-align: middle; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon--frame:before { content: "\e924"; }

.icon--pair_view:before { content: "\e91f"; }

.icon--separate:before { content: "\e920"; }

.icon--settings:before { content: "\e921"; }

.icon--trading_view:before { content: "\e922"; }

.icon--close_tabs:before { content: "\e907"; }

.icon--layout_3window:before { content: "\e90d"; }

.icon--layout_4window_alt:before { content: "\e90e"; }

.icon--layout_4window:before { content: "\e90f"; }

.icon--layout_blank:before { content: "\e910"; }

.icon--layout_copy:before { content: "\e911"; }

.icon--maximize:before { content: "\e915"; }

.icon--split_hor:before { content: "\e918"; }

.icon--split_ver:before { content: "\e919"; }

.icon--trash_alt:before { content: "\e91b"; }

.icon--lock:before { content: "\e925"; }

.icon--user:before { content: "\e926"; }

.icon--left:before { content: "\e923"; }

.icon--add:before { content: "\e900"; }

.icon--arrow_left:before { content: "\e901"; }

.icon--arrow_right:before { content: "\e902"; }

.icon--caret-mini:before { content: "\e903"; }

.icon--caret-mini_right:before { content: "\e903"; display: block; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }

.icon--caret:before { content: "\e904"; }

.icon--check:before { content: "\e905"; }

.icon--close_circle:before { content: "\e906"; }

.icon--close:before { content: "\e908"; }

.icon--dots:before { content: "\e909"; }

.icon--down:before { content: "\e90a"; }

.icon--list:before { content: "\e913"; }

.icon--menu:before { content: "\e916"; }

.icon--close-mini:before { content: "\e927"; }

.icon--revert:before { content: "\e917"; }

.icon--trash:before { content: "\e91c"; }

.icon--up:before { content: "\e91d"; }

.icon--withdraw:before { content: "\e91e"; }

.icon--graph_down:before { content: "\e90b"; }

.icon--graph_up:before { content: "\e90c"; }

.icon--layouts:before { content: "\e912"; }

.icon--mail:before { content: "\e914"; }

.icon--tasks:before { content: "\e91a"; }

/*! Datetimepicker for Bootstrap 3 version : 4.17.42 https://github.com/Eonasdan/bootstrap-datetimepicker/ */
.bootstrap-datetimepicker-widget { list-style: none; }

.bootstrap-datetimepicker-widget.dropdown-menu { margin: 2px 0; padding: 4px; width: 19em; }

@media (min-width: 768px) { .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs { width: 38em; } }

@media (min-width: 992px) { .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs { width: 38em; } }

@media (min-width: 1200px) { .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs { width: 38em; } }

.bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after { content: ''; display: inline-block; position: absolute; }

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-bottom-color: rgba(0, 0, 0, 0.2); top: -7px; left: 7px; }

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid white; top: -6px; left: 8px; }

.bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid #ccc; border-top-color: rgba(0, 0, 0, 0.2); bottom: -7px; left: 6px; }

.bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid white; bottom: -6px; left: 7px; }

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before { left: auto; right: 6px; }

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after { left: auto; right: 7px; }

.bootstrap-datetimepicker-widget .list-unstyled { margin: 0; }

.bootstrap-datetimepicker-widget a[data-action] { padding: 6px 0; }

.bootstrap-datetimepicker-widget a[data-action]:active { box-shadow: none; }

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second { width: 54px; font-weight: bold; font-size: 1.2em; margin: 0; }

.bootstrap-datetimepicker-widget button[data-action] { padding: 6px; }

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Increment Hours"; }

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Increment Minutes"; }

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Decrement Hours"; }

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Decrement Minutes"; }

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Show Hours"; }

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Show Minutes"; }

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Toggle AM/PM"; }

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Clear the picker"; }

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Set the date to today"; }

.bootstrap-datetimepicker-widget .picker-switch { text-align: center; }

.bootstrap-datetimepicker-widget .picker-switch::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Toggle Date and Time Screens"; }

.bootstrap-datetimepicker-widget .picker-switch td { padding: 0; margin: 0; height: auto; width: auto; line-height: inherit; }

.bootstrap-datetimepicker-widget .picker-switch td span { line-height: 2.5; height: 2.5em; width: 100%; }

.bootstrap-datetimepicker-widget table { width: 100%; margin: 0; }

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th { text-align: center; border-radius: 4px; }

.bootstrap-datetimepicker-widget table th { height: 20px; line-height: 20px; width: 20px; }

.bootstrap-datetimepicker-widget table th.picker-switch { width: 145px; }

.bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover { background: none; color: #777777; cursor: not-allowed; }

.bootstrap-datetimepicker-widget table th.prev::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Previous Month"; }

.bootstrap-datetimepicker-widget table th.next::after { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; content: "Next Month"; }

.bootstrap-datetimepicker-widget table thead tr:first-child th { cursor: pointer; }

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover { background: #eeeeee; }

.bootstrap-datetimepicker-widget table td { height: 54px; line-height: 54px; width: 54px; }

.bootstrap-datetimepicker-widget table td.cw { font-size: .8em; height: 20px; line-height: 20px; color: #777777; }

.bootstrap-datetimepicker-widget table td.day { height: 20px; line-height: 20px; width: 20px; }

.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover { background: #eeeeee; cursor: pointer; }

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new { color: #777777; }

.bootstrap-datetimepicker-widget table td.today { position: relative; }

.bootstrap-datetimepicker-widget table td.today:before { content: ''; display: inline-block; border: solid transparent; border-width: 0 0 7px 7px; border-bottom-color: #337ab7; border-top-color: rgba(0, 0, 0, 0.2); position: absolute; bottom: 4px; right: 4px; }

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover { background-color: #337ab7; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.bootstrap-datetimepicker-widget table td.active.today:before { border-bottom-color: #fff; }

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover { background: none; color: #777777; cursor: not-allowed; }

.bootstrap-datetimepicker-widget table td span { display: inline-block; width: 54px; height: 54px; line-height: 54px; margin: 2px 1.5px; cursor: pointer; border-radius: 4px; }

.bootstrap-datetimepicker-widget table td span:hover { background: #eeeeee; }

.bootstrap-datetimepicker-widget table td span.active { background-color: #337ab7; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.bootstrap-datetimepicker-widget table td span.old { color: #777777; }

.bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover { background: none; color: #777777; cursor: not-allowed; }

.bootstrap-datetimepicker-widget.usetwentyfour td.hour { height: 27px; line-height: 27px; }

.bootstrap-datetimepicker-widget.wider { width: 21em; }

.bootstrap-datetimepicker-widget .datepicker-decades .decade { line-height: 1.8em !important; }

.input-group.date .input-group-addon { cursor: pointer; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.form-control.datetimepicker { letter-spacing: .02em; }

.form-control.datetimepicker + .input-group-addon { color: rgba(63, 77, 96, 0.6) !important; }

.bootstrap-datetimepicker-widget { background: #fff; border-radius: 3px; overflow: hidden; position: absolute; z-index: 10; box-shadow: 0 8px 40px 0 rgba(63, 77, 96, 0.4), 0 5px 5px 0 rgba(63, 77, 96, 0.05); padding: 10px 16px; padding: 0.625rem 1rem; font-size: 16px; font-size: 1rem; }

.bootstrap-datetimepicker-widget.dropdown-menu { opacity: 1; visibility: visible; z-index: 1001; padding: 10px 16px; padding: 0.625rem 1rem; font-size: 16px; font-size: 1rem; margin: 8px 0; margin: 0.5rem 0; width: 376px; width: 23.5rem; }

.bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after { display: none; }

.bootstrap-datetimepicker-widget [class^="icon--"], .bootstrap-datetimepicker-widget [class*=" icon--"] { color: #8c94a0; }

.bootstrap-datetimepicker-widget .fade { opacity: 0; -webkit-transition: opacity 0.15s linear; -moz-transition: opacity 0.15s linear; -o-transition: opacity 0.15s linear; transition: opacity 0.15s linear; }

.bootstrap-datetimepicker-widget .fade.in { opacity: 1; }

.bootstrap-datetimepicker-widget .collapse { display: none; }

.bootstrap-datetimepicker-widget .collapse.in { display: block; }

.bootstrap-datetimepicker-widget tr.collapse.in { display: table-row; }

.bootstrap-datetimepicker-widget tbody.collapse.in { display: table-row-group; }

.bootstrap-datetimepicker-widget .collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition-property: height, visibility; -moz-transition-property: height, visibility; -o-transition-property: height, visibility; transition-property: height, visibility; -webkit-transition-duration: 0.35s; -moz-transition-duration: 0.35s; -o-transition-duration: 0.35s; transition-duration: 0.35s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; }

.bootstrap-datetimepicker-widget .collapse { overflow: hidden; -webkit-transition: height 0.2s ease; -moz-transition: height 0.2s ease; -o-transition: height 0.2s ease; transition: height 0.2s ease; }

.bootstrap-datetimepicker-widget:after { display: none; }

.bootstrap-datetimepicker-widget table th { font-weight: 600; color: #0DA7FC; text-transform: uppercase; letter-spacing: .04em; }

.bootstrap-datetimepicker-widget table th.picker-switch { color: #333333; }

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th { padding: 10px; padding: 0.625rem; }

.bootstrap-datetimepicker-widget table td { text-shadow: none !important; }

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover { background: #0DA7FC; color: #fff; }

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new { color: rgba(63, 77, 96, 0.35); }

.bootstrap-datetimepicker-widget table td.day { width: 48px; width: 3rem; height: 40px; height: 2.5rem; line-height: 20px; line-height: 1.25rem; }

.bootstrap-datetimepicker-widget table td.today:before { border-bottom-color: #0DA7FC; }

.bootstrap-datetimepicker-widget table td.active.today:before { border-bottom-color: #fff; }

.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover { background: rgba(63, 77, 96, 0.1); }

.bootstrap-datetimepicker-widget [class^="icon--"], .bootstrap-datetimepicker-widget [class*=" icon--"] { margin-right: 0; }

.bootstrap-datetimepicker-widget .picker-switch a { color: #3F4D60; }

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second { font-weight: 600; font-size: 1.3em; }

.bootstrap-datetimepicker-widget table td span.active { background: #0DA7FC; text-shadow: none; }

.bootstrap-datetimepicker-widget .btn { background: #fff; border-radius: 4px; height: auto; color: #3F4D60; padding: 4px; padding: 0.25rem; }

.bootstrap-datetimepicker-widget .btn:hover { color: #3F4D60; background: transparent; }

.input-group.date .input-group-addon { -webkit-transition: color 0.2s ease; -moz-transition: color 0.2s ease; -o-transition: color 0.2s ease; transition: color 0.2s ease; }

.input-group.date .input-group-addon:hover { color: #3F4D60; }

select.bs-select-hidden, select.selectpicker { display: none !important; }

.bootstrap-select { width: 220px \0; /*IE9 and below*/ }

.bootstrap-select > .dropdown-toggle { width: 100%; padding-right: 25px; z-index: 1; }

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active { color: #999; }

.bootstrap-select > select { position: absolute !important; bottom: 0; left: 50%; display: block !important; width: 0.5px !important; height: 100% !important; padding: 0 !important; opacity: 0 !important; border: none; }

.bootstrap-select > select.mobile-device { top: 0; left: 0; display: block !important; width: 100% !important; z-index: 2; }

.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle { border-color: #b94a48; }

.bootstrap-select.fit-width { width: auto !important; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 220px; }

.bootstrap-select .dropdown-toggle:focus { outline: thin dotted #333333 !important; outline: 5px auto -webkit-focus-ring-color !important; outline-offset: -2px; }

.bootstrap-select.form-control { margin-bottom: 0; padding: 0; border: none; }

.bootstrap-select.form-control:not([class*="col-"]) { width: 100%; }

.bootstrap-select.form-control.input-group-btn { z-index: auto; }

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn { border-radius: 0; }

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] { float: none; display: inline-block; margin-left: 0; }

.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right, .row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right { float: right; }

.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group { margin-bottom: 0; }

.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control { padding: 0; }

.form-inline .bootstrap-select.btn-group .form-control { width: 100%; }

.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group > .disabled { cursor: not-allowed; }

.bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group > .disabled:focus { outline: none !important; }

.bootstrap-select.btn-group.bs-container { position: absolute; height: 0 !important; padding: 0 !important; }

.bootstrap-select.btn-group.bs-container .dropdown-menu { z-index: 1060; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option { display: inline-block; overflow: hidden; width: 100%; text-align: left; }

.bootstrap-select.btn-group .dropdown-toggle .caret { position: absolute; top: 50%; right: 12px; margin-top: -2px; vertical-align: middle; }

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle { width: 100%; }

.bootstrap-select.btn-group .dropdown-menu { min-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.bootstrap-select.btn-group .dropdown-menu.inner { position: static; float: none; border: 0; padding: 0; margin: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }

.bootstrap-select.btn-group .dropdown-menu li { position: relative; }

.bootstrap-select.btn-group .dropdown-menu li.active small { color: #fff; }

.bootstrap-select.btn-group .dropdown-menu li.disabled a { cursor: not-allowed; }

.bootstrap-select.btn-group .dropdown-menu li a { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.bootstrap-select.btn-group .dropdown-menu li a.opt { position: relative; padding-left: 2.25em; }

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark { display: none; }

.bootstrap-select.btn-group .dropdown-menu li a span.text { display: inline-block; }

.bootstrap-select.btn-group .dropdown-menu li small { padding-left: 0.5em; }

.bootstrap-select.btn-group .dropdown-menu .notify { position: absolute; bottom: 5px; width: 96%; margin: 0 2%; min-height: 26px; padding: 3px 5px; background: #f5f5f5; border: 1px solid #e3e3e3; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); pointer-events: none; opacity: 0.9; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.bootstrap-select.btn-group .no-results { padding: 3px; background: #f5f5f5; margin: 0 5px; white-space: nowrap; }

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option { position: static; }

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret { position: static; top: auto; margin-top: -1px; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark { position: absolute; display: inline-block; right: 15px; margin-top: 5px; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text { margin-right: 34px; }

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle { z-index: 1061; }

.bootstrap-select.show-menu-arrow .dropdown-toggle:before { content: ''; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid rgba(204, 204, 204, 0.2); position: absolute; bottom: -4px; left: 9px; display: none; }

.bootstrap-select.show-menu-arrow .dropdown-toggle:after { content: ''; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid white; position: absolute; bottom: -4px; left: 10px; display: none; }

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before { bottom: auto; top: -3px; border-top: 7px solid rgba(204, 204, 204, 0.2); border-bottom: 0; }

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after { bottom: auto; top: -3px; border-top: 6px solid white; border-bottom: 0; }

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before { right: 12px; left: auto; }

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after { right: 13px; left: auto; }

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after { display: block; }

.bs-searchbox, .bs-actionsbox, .bs-donebutton { padding: 4px 8px; }

.bs-actionsbox { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.bs-actionsbox .btn-group button { width: 50%; }

.bs-donebutton { float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.bs-donebutton .btn-group button { width: 100%; }

.bs-searchbox + .bs-actionsbox { padding: 0 8px 4px; }

.bs-searchbox .form-control { margin-bottom: 0; width: 100%; float: none; }

.btn { font-weight: 600; background: #0DA7FC; color: #FFFFFF; letter-spacing: 0; position: relative; overflow: hidden; display: inline-block; border: 0; text-decoration: none; font-size: 18px; font-size: 1.125rem; padding: 9px 20px; padding: 0.5625rem 1.25rem; font-size: 15px; font-size: 0.9375rem; min-width: 112px; min-width: 7rem; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; -webkit-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease, -webkit-transform 0.3s ease; -moz-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease, -moz-transform 0.3s ease; -o-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease, -o-transform 0.3s ease; transition: background 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

.btn:focus { outline: none; }

.btn:hover, .btn:active, .btn.active, .btn.active:hover, .btn:focus { text-decoration: none; background: #0388EF; color: #FFFFFF; }

.btn[disabled], .btn.disabled, .btn.button--disabled { background: #EBEDEF !important; color: #B2B8BF !important; opacity: 1; cursor: not-allowed; }

.btn .icon { color: #8C94A0; font-size: 14px; font-size: 0.875rem; margin-left: 4px; margin-left: 0.25rem; -webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }

.btn .icon + span { color: #3F4D60; font-weight: normal; margin-left: 10px; margin-left: 0.625rem; }

.btn--default { background: transparent; border: 1px solid #CFD2D7; color: #3F4D60; font-weight: 400; }

.btn--default:hover, .btn--default:active, .btn--default.active, .btn--default:focus { background: transparent; border-color: #B2B8BF; color: #3F4D60; }

.btn--default.active { background: #0DA7FC !important; color: #FFFFFF !important; border-color: #0DA7FC; }

.btn--default[disabled], .btn--default.disabled, .btn--default.button--disabled { background: #F5F6F7 !important; border-color: #CFD2D7 !important; color: #CFD2D7 !important; cursor: not-allowed; }

.btn--bordered { background: transparent; border: 2px solid; color: #0DA7FC; }

.btn--bordered:hover, .btn--bordered:active, .btn--bordered.active, .btn--bordered:focus { background: #0DA7FC; border-color: #0DA7FC; color: #FFFFFF; }

.btn--bordered[disabled], .btn--bordered.disabled, .btn--bordered.button--disabled { background: transparent !important; color: #CFD2D7 !important; }

.btn--accent { text-transform: uppercase; letter-spacing: .07em; }

.btn--red { background: #FF3E2E; }

.btn--red:hover, .btn--red:active, .btn--red.active, .btn--red:focus { background: #DD1500; }

.btn--green { background: #13B72A; }

.btn--green:hover, .btn--green:active, .btn--green.active, .btn--green:focus { background: #009907; }

.btn--icon { min-width: 0; background: transparent; border-radius: 4px; color: #B2B8BF; line-height: normal; padding: 4px; padding: 0.25rem; }

.btn--icon .icon { color: #B2B8BF; margin-left: 0; }

.btn--icon:hover, .btn--icon:hover, .btn--icon:active, .btn--icon.active, .btn--icon.active:hover, .btn--icon:focus { background: transparent; color: #657180; }

.btn--icon:hover .icon, .btn--icon:hover .icon, .btn--icon:active .icon, .btn--icon.active .icon, .btn--icon.active:hover .icon, .btn--icon:focus .icon { background: transparent; color: #657180; }

.btn--icon._blue_hover { color: #8C94A0; }

.btn--icon._blue_hover .icon { color: #8C94A0; }

.btn--icon._blue_hover:hover, .btn--icon._blue_hover:active, .btn--icon._blue_hover.active, .btn--icon._blue_hover.active:hover, .btn--icon._blue_hover:focus { text-decoration: none; background: transparent; color: #0DA7FC; }

.btn--icon._blue_hover:hover .icon, .btn--icon._blue_hover:active .icon, .btn--icon._blue_hover.active .icon, .btn--icon._blue_hover.active:hover .icon, .btn--icon._blue_hover:focus .icon { color: #0DA7FC; }

.btn--action { font-weight: 400; font-size: 16px; font-size: 1rem; line-height: 18px; line-height: 1.125rem; padding-top: 6px; padding-top: 0.375rem; padding-bottom: 6px; padding-bottom: 0.375rem; }

.btn--action ._big { font-size: 24px; font-size: 1.5rem; }

.btn--action ._action_name { display: block; }

.btn.btn-block { min-width: 0 !important; }

.btn-group--sm > .btn { border-radius: 4px; min-width: 0; font-size: 14px; font-size: 0.875rem; padding: 5px 14px; padding: 0.3125rem 0.875rem; }

.btn-group--sm > .btn.active { font-weight: 600; }

.page_title, .page h1.page_title, .page h2.page_title { margin-bottom: 17px; margin-bottom: 1.0625rem; }

.page_title span, .page h1.page_title span, .page h2.page_title span { display: inline; font-weight: 300; }

.page_subtitle, .page h3.page_subtitle { text-align: center; color: #b2b8bf; margin-bottom: 68px; }

.section { padding: 30px 0; }

.icon--pair_view:before { position: relative; left: -2px; }

@media all and (min-width: 768px) { ._border_left { border-left: 1px solid #CFD2D7; }
  ._border_right { border-right: 1px solid #CFD2D7; }
  ._border_right + ._border_left { margin-left: -1px; } }

.icon_block { text-align: center; }

.icon_block__img { height: 64px; height: 4rem; margin-bottom: 30px; margin-bottom: 1.875rem; }

.icon_block__img img { max-width: 100%; }

.icon_block__title { display: block; }

.buttons-inline .btn + .btn { margin-left: 12px; margin-left: 0.75rem; }

.buttons-inline .btn--icon + .btn--icon { margin-left: 4px; margin-left: 0.25rem; }

.form-group { margin-bottom: 20px; margin-bottom: 1.25rem; }

.form-group .row { margin-left: -3px; margin-right: -3px; }

.form-group .row > div { padding-left: 3px; padding-right: 3px; }

.form-group:last-child { margin-bottom: 0; }

.form-group .buttons-inline.pull-right { margin-top: -4px; margin-top: -0.25rem; }

.form-control { text-align: left; background: #FFFFFF; color: #3F4D60; border: 1px solid #CFD2D7; border-radius: 4px; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; height: 40px; height: 2.5rem; padding: 10px 15px; padding: 0.625rem 0.9375rem; font-size: 14px; font-size: 0.875rem; }

.form-control ::-webkit-input-placeholder { color: #B2B8BF; }

.form-control :-moz-placeholder { color: #B2B8BF; }

.form-control ::-moz-placeholder { color: #B2B8BF; }

.form-control :-ms-input-placeholder { color: #B2B8BF; }

.form-control.error, .form-control--error { border-color: #FF3E2E !important; box-shadow: inset 0 0 0 1px #FF3E2E !important; }

.form-control.error ~ .form-control-addon .icon, .form-control--error ~ .form-control-addon .icon { color: #FF3E2E !important; }

.form-control.success, .form-control--success { border-color: #13B72A !important; box-shadow: inset 0 0 0 1px #13B72A !important; }

.form-control.success ~ .form-control-addon .icon, .form-control--success ~ .form-control-addon .icon { color: #13B72A !important; }

.form-control:focus { border-color: #B2B8BF; }

.form-control[disabled], .form-control.disabled, .form-control.form-control--disabled { background: #F5F6F7 !important; border-color: #CFD2D7 !important; color: #CFD2D7 !important; }

textarea.form-control { resize: none; min-height: 140px; max-width: 100%; }

label.error { color: #FF3E2E; font-weight: 600; font-size: 14px; font-size: 0.875rem; }

label.hint { color: #B2B8BF; font-weight: 400; font-size: 14px; font-size: 0.875rem; }

.control-label { color: #3F4D60; font-weight: normal; margin-bottom: 12px; margin-bottom: 0.75rem; font-size: 16px; font-size: 1rem; line-height: 20px; line-height: 1.25rem; }

.control-label sup { text-transform: uppercase; font-size: 60%; }

.input-group { position: relative; }

.input-group-addon { color: #CFD2D7; position: absolute; cursor: pointer; z-index: 10; top: 4px; top: 0.25rem; right: 4px; right: 0.25rem; padding: 10px; padding: 0.625rem; }

.input-group-addon .icon { margin-right: 0; }

select.form-control { -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; }

.switcher { display: inline-block; vertical-align: middle; position: relative; overflow: hidden; }

.switcher + .control-label { margin-bottom: 0; vertical-align: middle; padding-left: 10px; padding-left: 0.625rem; }

.switcher__elem { position: absolute; left: -100%; top: -100%; opacity: 0; visibility: hidden; }

.switcher__elem:checked + .switcher__control { background: #0DA7FC; }

.switcher__elem:checked + .switcher__control:after { left: 18px; left: 1.125rem; }

.switcher__control { cursor: pointer; border-radius: 80px; position: relative; margin-bottom: 0; display: block; background: #CFD2D7; width: 40px; width: 2.5rem; height: 24px; height: 1.5rem; -webkit-transition: background 0.2s ease; -moz-transition: background 0.2s ease; -o-transition: background 0.2s ease; transition: background 0.2s ease; }

.switcher__control:after { content: ''; position: absolute; background: #FFFFFF; border-radius: 40px; box-shadow: 1px 1px 4px 0 rgba(63, 77, 96, 0.4); left: 2px; left: 0.125rem; top: 2px; top: 0.125rem; width: 20px; width: 1.25rem; height: 20px; height: 1.25rem; -webkit-transition: left 0.2s ease; -moz-transition: left 0.2s ease; -o-transition: left 0.2s ease; transition: left 0.2s ease; }

.checkbox, .radio { position: relative; overflow: hidden; margin: 0; }

.checkbox__control, .radio__control { position: absolute; right: 100%; opacity: 0; visibility: hidden; }

.checkbox__control:checked ~ .control-label:before, .radio__control:checked ~ .control-label:before { background: #0DA7FC !important; border-color: #0DA7FC !important; }

.checkbox__control:checked ~ .control-label:after, .radio__control:checked ~ .control-label:after { opacity: 1 !important; visibility: visible !important; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

.checkbox__control[disabled] ~ .control-label:before, .radio__control[disabled] ~ .control-label:before { background: #F5F6F7 !important; border-color: #CFD2D7 !important; }

.checkbox__control[disabled] ~ .control-label:after, .radio__control[disabled] ~ .control-label:after { color: #CFD2D7 !important; }

.checkbox__label, .checkbox label, .radio__label, .radio label { position: relative; padding-left: 35px; padding-left: 2.1875rem; }

.checkbox__label:hover:before, .checkbox label:hover:before, .radio__label:hover:before, .radio label:hover:before { border-color: #B2B8BF; }

.checkbox__label:before, .checkbox label:before, .radio__label:before, .radio label:before { content: ''; border: 1px solid #CFD2D7; position: absolute; left: 0; top: 0px; top: 0rem; width: 20px; width: 1.25rem; height: 20px; height: 1.25rem; -webkit-transition: background 0.3s ease, border 0.3s ease; -moz-transition: background 0.3s ease, border 0.3s ease; -o-transition: background 0.3s ease, border 0.3s ease; transition: background 0.3s ease, border 0.3s ease; }

.checkbox__label:after, .checkbox label:after, .radio__label:after, .radio label:after { content: ''; color: #FFFFFF; position: absolute; -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease; -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s ease; -o-transition: opacity 0.3s ease, visibility 0.3s ease, -o-transform 0.3s ease; transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; }

.checkbox__label:before, .checkbox label:before { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.checkbox__label:after, .checkbox label:after { font-family: 'icons' !important; color: #FFFFFF; content: '\e905'; left: 0; top: 0; text-align: center; width: 20px; width: 1.25rem; font-size: 10px; font-size: 0.625rem; }

.radio__control[disabled] ~ .control-label:after { background: #CFD2D7 !important; }

.radio__label:before, .radio label:before { -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; }

.radio__label:after, .radio label:after { background: #FFFFFF; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; width: 6px; width: 0.375rem; height: 6px; height: 0.375rem; top: 7px; top: 0.4375rem; left: 7px; left: 0.4375rem; }

.icon_big.icon, .icon_big .icon { font-size: 24px; font-size: 1.5rem; }

.form-control-addon { position: absolute; top: 0; right: 0; display: block; text-align: center; z-index: 10; width: 40px; width: 2.5rem; height: 40px; height: 2.5rem; }

.form-control-addon .icon { line-height: 28px; line-height: 1.75rem; }

.form-control-addon.icon_disabled { pointer-events: none; }

.input-group { width: 100%; }

.feedback-group { position: relative; }

.table .icon { position: relative; top: -1px; }

.table tr th, .table tr td { padding: 12px 8px; padding: 0.75rem 0.5rem; }

.table tr th { font-weight: normal; text-transform: none; color: #3F4D60; border-top: 0; border-bottom: 1px solid #CFD2D7; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }

.table tr td { border-bottom: 1px solid #F5F6F7; }

.nav-tabs { padding: 0; border-bottom-color: #CFD2D7; margin-right: 0; }

.nav-tabs > li { position: relative; }

.nav-tabs > li.pull-right > a { border-left: 0 !important; }

.nav-tabs > li .icon { color: #8C94A0; position: relative; top: -1px; font-size: 12px; font-size: 0.75rem; }

.nav-tabs > li .icon--menu { color: #B2B8BF; font-size: 10px; font-size: 0.625rem; }

.nav-tabs > li > .btn { position: absolute; z-index: 2; top: 50%; padding: 7px; padding: 0.4375rem; right: 3px; right: 0.1875rem; margin-left: 5px; margin-left: 0.3125rem; margin-top: -11px; margin-top: -0.6875rem; line-height: 10px; line-height: 0.625rem; }

.nav-tabs > li > .btn + a:not(.btn) { padding-right: 34px !important; padding-right: 2.125rem !important; }

.nav-tabs > li > .btn:hover .icon { color: #0DA7FC !important; }

.nav-tabs > li > a:not(.btn) { border: 0; border-bottom: 2px solid transparent; color: #B2B8BF; font-weight: 400; text-align: center; font-size: 16px; font-size: 1rem; min-width: 40px; min-width: 2.5rem; padding: 11px 20px; padding: 0.6875rem 1.25rem; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.nav-tabs > li > a:not(.btn) > .icon { -webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }

.nav-tabs > li > a:not(.btn):hover, .nav-tabs > li > a:not(.btn):focus { text-decoration: none; background: transparent; color: #3F4D60; }

.nav-tabs > li > a:not(.btn):hover > .icon, .nav-tabs > li > a:not(.btn):focus > .icon { color: #3F4D60; }

.nav-tabs > li > a:not(.btn):hover > .icon--menu, .nav-tabs > li > a:not(.btn):focus > .icon--menu { color: #0DA7FC; }

.nav-tabs > li > a:not(.btn) .icon + span { margin-left: 3px; margin-left: 0.1875rem; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { font-weight: 600; border: 0; border-bottom: 2px solid #0DA7FC; color: #333333; }

.nav-tabs--inline { border-bottom: 0; }

.nav-tabs--inline > li > a:not(.btn) { border: 0; font-weight: 600; color: #3F4D60; margin-right: 8px; margin-right: 0.5rem; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; min-width: 104px; min-width: 6.5rem; }

.nav-tabs--inline > li > a:not(.btn):hover, .nav-tabs--inline > li > a:not(.btn):focus { color: #0DA7FC; }

.nav-tabs--inline > li.active > a, .nav-tabs--inline > li.active > a:hover, .nav-tabs--inline > li.active > a:focus { font-weight: 600; border: 0; background: #0DA7FC; color: #FFFFFF; }

@media all and (max-width: 539px) { .nav-tabs { width: auto; margin-right: 0 !important; margin-right: 0 !important; } }

.tab-panel { background: #F5F6F7; border-top: 1px solid #CFD2D7; border-bottom: 1px solid #CFD2D7; }

.tab-panel .nav-tabs { border-bottom: 0; }

.tab-panel .nav-tabs > li > a:not(.btn) { border: 0; border-left: 1px solid #CFD2D7; border-right: 1px solid #CFD2D7; border-radius: 0; margin-left: 0; margin-right: -1px; padding: 10px 13px; padding: 0.625rem 0.8125rem; }

.tab-panel .nav-tabs > li.active > a, .tab-panel .nav-tabs > li.active > a:hover, .tab-panel .nav-tabs > li.active > a:focus { box-shadow: inset 0 2px 0 0 #0DA7FC; background: #FFFFFF; font-weight: normal; }

.dropdown { position: relative; }

.dropdown-menu { position: absolute; left: 50%; top: 100%; box-shadow: 0 8px 40px 0 rgba(63, 77, 96, 0.3); border: 1px solid #CFD2D7; border-radius: 4px; opacity: 0; visibility: hidden; display: block; float: none; padding: 0; background: #FFFFFF; width: 387px; width: 24.1875rem; margin-left: -193px; margin-left: -12.0625rem; margin-top: 10px; margin-top: 0.625rem; -webkit-transition: opacity 0.3s ease, visibility 0.3s ease; -moz-transition: opacity 0.3s ease, visibility 0.3s ease; -o-transition: opacity 0.3s ease, visibility 0.3s ease; transition: opacity 0.3s ease, visibility 0.3s ease; }

.dropdown-menu--sm { width: 296px; width: 18.5rem; margin-left: -148px; margin-left: -9.25rem; }

.dropdown-menu:after, .dropdown-menu:before { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }

.dropdown-menu:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #FFFFFF; margin-left: -10px; margin-left: -0.625rem; border-width: 10px; border-width: 0.625rem; }

.dropdown-menu:before { border-color: rgba(207, 210, 215, 0); border-bottom-color: #CFD2D7; margin-left: -11px; margin-left: -0.6875rem; border-width: 11px; border-width: 0.6875rem; }

.dropdown-menu .dropdown__inner { overflow: hidden; padding: 32px 32px 40px; padding: 2rem 2rem 2.5rem; }

.dropdown-menu--static { position: relative; top: 0; right: auto; left: auto; margin-left: 0; opacity: 1; visibility: visible; }

.dropdown-menu--show, .dropdown-menu.show, .show .dropdown-menu, .open .dropdown-menu, .dropdown-menu.open { opacity: 1; visibility: visible; }

.dropdown-menu .form-group:last-child { margin-bottom: 0; }

.dropdown-menu .divider { clear: both; border-bottom: 1px solid #F5F6F7; width: 100%; margin-bottom: 20px; margin-bottom: 1.25rem; margin-top: 24px; margin-top: 1.5rem; }

.dropdown-menu .divider + .h5, .dropdown-menu .divider + h5 { margin-top: -8px; margin-top: -0.5rem; }

.dropdown-menu .divider--ver { width: 1px; height: 100%; border-left: 1px solid #CFD2D7; border-bottom: 0; clear: none; display: inline-block; vertical-align: middle; margin: 0 15px; margin: 0 0.9375rem; min-height: 32px; min-height: 2rem; }

.modal.fade .modal-dialog { -webkit-transform: translate(0, 0) scale(0.8); -moz-transform: translate(0, 0) scale(0.8); -ms-transform: translate(0, 0) scale(0.8); -o-transform: translate(0, 0) scale(0.8); transform: translate(0, 0) scale(0.8); }

.modal.in .modal-dialog { -webkit-transform: translate(0, 0) scale(1); -moz-transform: translate(0, 0) scale(1); -ms-transform: translate(0, 0) scale(1); -o-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); }

@media all and (max-width: 767px) { .modal--modules .col-sm-4 { margin-top: 20px; margin-top: 1.25rem; } }

.modal-dialog { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; max-width: 100%; margin: 0 auto; }

.modal-content { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 100%; background: #FEFEFE; border: 1px solid #B2B8BF; box-shadow: 0 8px 40px 0 rgba(140, 147, 160, 0.6); border-radius: 8px; }

.modal-footer { text-align: center; border-top: 0; padding: 0 32px 32px; padding: 0 2rem 2rem; }

.modal-body { padding: 24px 32px 24px; padding: 1.5rem 2rem 1.5rem; }

.modal-header { border-bottom: 0; text-align: center; padding: 24px 32px 0; padding: 1.5rem 2rem 0; }

.modal-backdrop { background: #3F4D60; }

.modal-backdrop.in { opacity: .3; }

.modal-sm { width: 352px; }

.modal-lg { width: 915px; width: 57.1875rem; }

.list__item { color: #3F4D60; letter-spacing: 0; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }

.list__item + .list__item { margin-top: 15px; margin-top: 0.9375rem; }

.list__link { color: #3F4D60; }

.list__link:hover .icon { color: #0DA7FC; }

.list .icon { color: #8C94A0; float: left; font-size: 24px; font-size: 1.5rem; }

.list .icon + span { display: block; padding-left: 40px; padding-left: 2.5rem; }

.list .divider { border-bottom: 1px solid #CFD2D7; margin: 15px 0; margin: 0.9375rem 0; }

.module_link { color: #3F4D60; display: block; max-width: 100%; padding: 30px 20px 16px; padding: 1.875rem 1.25rem 1rem; width: 160px; width: 10rem; height: 160px; height: 10rem; margin: 0 auto 8px; margin: 0 auto 0.5rem; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease; }

.module_link:hover { background: #F8F9F9; }